*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    line-height: 1.6;
}

/*Navbar*/
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
    color: #fff;
 }

 .navbar a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    cursor: grab;
    
 }

 /*Hero*/

 .hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-self: center;
    background:#f4f4f4;
    text-align: center;
    padding: 20px;

 }

 .hero button{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;


 }

 /*features*/

 .Features{
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
 } 

.Feature{
    max-width: 250px;
    text-align: center;

}

/*CTA*/

.cta{
    background: #007bff;
    color: white;
    text-align: center;
    padding: 60px 20px;

}

.cta button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    background: white;
    color: #007bff;
    cursor: pointer;
}

/*FOOTER*/

.footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/*Responsive*/
@media(max-width:768px){
    .Features{
        flex-direction: column;
        align-items: center;

    }

    .Feature{
        margin-bottom: 30px;
    }

    .navbar{
        flex-direction: column;
    }
}

button:hover{
    opacity: 0.9;
    transform: scale(1.03);
    color: rgb(179, 224, 245);
}

nav:hover{
    opacity: 0.9;
    transform: scale(1.03); 
    color: rgb(179, 224, 245);

}
